/* css stylesheet */

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html,
Body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("images/background-image.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  font-family: "booter - Zero Zero";
  font-weight: normal;
  color: white;
}

.title-large {
  font-size: 2.5em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.main-footer {
  background-color: #56ccf2;
  color: white;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.grid-main {
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  align-content: top;
  grid-gap: 0px;
  max-width: 1200px;
}

.grid-item {
  border: 1px solid #333;
  background-color: #dfdfdf;
}

.grid-item img {
  width: 100%;
  /*  object-fit: contain; */
  cursor: pointer;
  /*  aspect-ratio: 1; */
}

.grid-item-1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-item-2 {
  grid-column: 2;
  grid-row: 1;
  max-width: 330px;
}

.grid-item-3 {
  grid-column: 1;
  grid-row: 2;
}

.grid-item-4 {
  grid-column: 2;
  grid-row: 2;
  max-width: 330px;
}

.grid-item-5 {
  grid-column: 1;
  grid-row: 3;
}

.grid-item-6 {
  grid-column: 2;
  grid-row: 3;
  max-width: 330px;
}

.grid-item-7 {
  grid-column: 1;
  grid-row: 4;
}

.grid-item-8 {
  grid-column: 2;
  grid-row: 4;
  max-width: 330px;
}

.grid-item-9 {
  grid-column: 1;
  grid-row: 5;
}

.grid-item-10 {
  grid-column: 2;
  grid-row: 5;
  max-width: 330px;
}

.button {
  border: 1px solid hsl(200, 100%, 30%);
  background-color: hsl(200, 100%, 50%);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 4px;
  color: white;
  outline: none;
  min-width: 60px;
}

.button_selected {
  background-color: hsl(44, 100%, 50%);
}

.button:hover {
  border-color: black;
}

.button:disabled {
  background-color: hsl(203, 8%, 68%);
}

.table_heading {
  font-size: 80%;
  color: #888888;
  border-bottom: 1px solid #cccccc;
}

.hide {
  display: none;
}

.metrics_table {
  font-size: 80%;
}
.metric_name {
  text-align: right;
}
.metric_large {
  text-align: left;
  font-weight: bold;
  font-size: 230%;
  color: #207070;
}

.metric_highlight {
  color: #dc143c;
}
.metric_value {
  text-align: left;
  font-weight: bold;
}
.metric_units {
  text-align: left;
}

.label {
  font-style: italic;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

#lightbox img {
  max-width: 100%;
  max-height: 80%;
  padding: 2px;
  background-color: black;
  border: 2px solid white;
}

/* Styles for data-electricity */
iframe {
  border: 1px solid black;
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
  max-width: 450px;
}
