<div class="container main-footer-container">
  <h3 class="title">W52 TBE</h3>

  <ul class="nav footer-nav">
    <li>
      <a href="https://youtube.com" target="_blank">
        <img src="images/youtube_logo.png" />
      </a>
    </li>
    <li>
      <a href="https://facebook.com" target="_blank">
        <img src="images/facebook_logo.png" />
      </a>
    </li>
    <li>
      <a href="https://instagram.com" target="_blank">
        <img src="images/insta_logo.png" />
      </a>
    </li>
  </ul>
</div>
