<!--Navigation-->

<nav class="nav main-nav">
  <ul>
    <li><a href="{{ url_for('data.boulderbar') }}">Boulderbar</a></li>
    <li><a href="{{ url_for('data.climate') }}">Indoor Climate</a></li>
    <li class="dropdown">
      <a href="#">Electricity</a>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ url_for('data.electricity_power_usage') }}"
            >Power Usage</a
          >
        </li>
        <li>
          <a href="{{ url_for('data.electricity_power_consumption') }}"
            >Power Consumption</a
          >
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#">Heat Pump</a>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ url_for('data.heat_pump_temp') }}">Temperatures</a>
        </li>
        <li>
          <a href="{{ url_for('data.heat_pump_stats') }}">Statistics</a>
        </li>
        <li>
          <a href="{{ url_for('data.heat_pump_process') }}">Processes</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
