<!--Navigation-->

<nav class="nav main-nav">
  <ul>
    <li><a href="{{ url_for('data.boulderbar') }}">Boulderbar</a></li>
    <li><a href="{{ url_for('data.climate') }}">Indoor Climate</a></li>
    <li><a href="{{ url_for('data.electricity') }}">Electricity</a></li>
    <li>
      <a href="{{ url_for('data.heat_pump_temp') }}">Heat Pump Temperatures</a>
    </li>
    <li>
      <a href="{{ url_for('data.heat_pump_stats') }}">Heat Pump Statistics</a>
    </li>
    <li>
      <a href="{{ url_for('data.power_consumption') }}">Power Consumption</a>
    </li>
  </ul>
</nav>
